html{
    width: 100vw;
    height: 100vh; 
}
body {
    background: #83a4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, white , white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */      
    display: inline;
    margin:auto;    
}
input{
    border: none;
}
div.row.aqui{
    display: inline-block;
}
button {
    background: rgb(14, 14, 14);
    height: 50px;
    width: 50px;
    margin: 5px 4px;
    border-radius: 10px;
    color:white;
    border-color: rgb(51, 51, 51);
}
button.btn.btn-info.mais{
    padding: 45px 0px 60px 0px;
}
#text{
    display: block;
    float: right;
}
*:focus {
    outline: 0 !important;
}
#allClear {
    background:#006633;
    border-color: #3b7056;
}
#clear {
    background:#006633;
    border-color: #3b7056;
}

/* Hidden button for formatting sake */
#blank {
    visibility: hidden;
}
#calc{
    height: 0px;
}
.calcBG {
    background-color: rgb(37, 37, 41);
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 1px 1px 25px rgb(143, 140, 140);
    display: inline-block;
    width:245px;
    margin-top:4%;
    margin-left: 35%;
}
.screen {
    height: 40px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 2px;
    font-size: 16px;
    font-weight: bold;

    background: #8e9eab; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e9eab , #eef2f3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e9eab , #eef2f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            
    box-shadow: 0px 4px  black inset;
}
small {
    color: #fff;
    font-weight: bold;
}
    